@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #EBECF0;
}

.dicoApp {
    width: 450px;
}

#searchBar {
    background-color:#fff;
    width: 450px;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}
#searchBar input  {
    width: calc(100% - 100px);
    padding: 20px;
    border: 0;
    outline: 0;
}